body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    min-height: 80px;
    background-color: lightgreen;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    min-height: 200px;
    min-width: 100dvw;
    max-width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    /* padding-inline: 5dvw; */
}